{% extends 'base.html' %}
{% block content %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>

data(){
axios.get('https://api.conftalks.dev/web/users')
    .then(function (response) {
	// handle success
	var responseFields = response.data[0];
	var name = document.createTextNode(responseFields['name']);
	var tags = responseFields['Tags'];    
	document.getElementById('greeting').appendChild(name);

	//var confs = responseFields['
	    console.log(tags)

	return {
		tags: tags
		}
	})
    };
</script>
<div class="container">

    <div class="jumbotron">
	<h1 id="greeting">Hello </h1>
    </div> 
    <div id="" class="">
	<h4>Tags:</h4>
	<ul id="tag-list">
  <li v-for="tag in tags">
    {{ tag }}
  </li>
</ul>
    </div>
    <div class="card-deck">
	<h2>Your Upcoming Conferences</h2>

</div>
{% endblock %}
