{% extends 'base.html' %}
{% block content %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>

axios.get('https://kgtdt0h7s2.execute-api.us-west-2.amazonaws.com/alpha-web/users')

    .then(function (response) {
	// handle success
	var responseFields = response.data[0];
	var name = document.createTextNode(responseFields['name']);
	document.getElementById('greeting').appendChild(name);

	//var confs = responseFields['
	    console.log(responseFields)

    })
</script>
<div class="container">

    <div class="jumbotron">
	<h1 id="greeting">Hello </h1>
    </div> 
    <div id="tag-list" class="">
	<h4>Tags:</h4>
    </div>
    <div class="card-deck">
	<h2>Your Upcoming Conferences</h2>

</div>
{% endblock %}
