{% extends 'base.html' %}
{% block content %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>

    vmGreeting = new Vue({
    	el: '#vmGreeting',
    	data: {name: "Hello 👋",}
    })
    
	vmTags = new Vue({
    	el: '#vmTags',
    	data: {Tags: ['Loading Tags 🔖']}
    })
    
axios.get('https://api.conftalks.dev/web/users')
    .then(function (response) {
	// handle success
	var responseFields = response.data[0];
	vmGreeting.data.name = responseFields['name'];
	vmTags.data.Tags = responseFields['Tags'];    
	//var confs = responseFields['
	});
    
</script>
<div class="container">

    <div class="jumbotron">
      <h1 id="vmGreeting">Hello {{ name }} </h1>
    </div> 
    <div id="vmTags" class="">
	<h4>Tags:</h4>
	<ul id="">
  <li v-for="tag in Tags">
    {{ tag }}
  </li>
</ul>
    </div>
    <div class="card-deck">
	<h2>Your Upcoming Conferences</h2>

</div>
{% endblock %}
