        <footer class="mt-3 footer jumbotron jumbrotron">
          <div class="container text-center">
            <ul class="list-inline">
              <li class="list-inline-item">Privacy Policy</li>
              <li class="list-inline-item"><a
                href="https://www.notion.so/productivityintech/ConfTalks-Dev-6f692b1e41794ede92e4f4363866db7a">Public
                Roadmap</a></li>
              <li class="list-inline-item">Donate</li>
              <li class="list-inline-item"><a href="mailto:jay@conftalks.dev">Contact</a></li>
            </b>Conftalks</b> is a project by <a
               href="https://kjaymiller.com">KJayMiller</a>
            and <br>
            <a href="https://productivityintech.com">Productivity in Tech</a>
          </div>

        </footer>
